<!-- Mail envoyé après activation -->

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue dans l'application Hotline, <%= @user.first_name  %> <%=  @user.last_name %></h1>
    <p>
      Votre compte a bien été activé par un Administrateur,
    </p>
    <p>
     Pour vous connecter a l'application, suivez le lien suivant : <%= @url %>.
    </p>
    <p>Cordialement,
  </br>
L'Administration Hotline Konica Minolta.</p>
  </body>
</html>